{# breadcrumbs do not have a wrapper, as they exist outside the normal block flow #}
<div class="bg-surface-100 py-2">
   <div class="text-sm block-container font-bold breadcrumbs">
      <ul class="flex">
          {% for crumb in craft.navigation.breadcrumbs() %}
              <li class="pr-2">
                  <a href="{{ crumb.url }}">
                      {{ crumb.title }}
                      {% if not loop.last %} ->{% endif %}
                  </a>
              </li>
          {% endfor %}
      </ul>
   </div>
</div>