{% import '_components/elements/accordion.twig' as Accordion %}
{% extends '_layouts/blockWrapper.twig' %}
{% block blockWrapper %}
      <div class="max-w-xl mx-auto my-20">
            {{ Accordion.pines(block.accordionFields) }}
      </div>
{% endblock %}