{% import '_components/elements/alert.twig' as Alert %}
{% extends '_layouts/blockWrapper.twig' %}
{% block blockWrapper %}
      <div class="max-w-xl mx-auto my-20">
            {{ Alert.pines(block) }}
      </div>
{% endblock %}