{# breadcrumbs do not have a wrapper, as they exist outside the normal block flow #}
<div class="w-full flex justify-center px-8">
   <div class="text-sm w-full max-w-screen-xl breadcrumbs">
      <ul>
         {% for crumb in craft.navigation.breadcrumbs() %}
            <li><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
         {% endfor %}
      </ul>
   </div>
</div>