{#
a block of one or more basic card components.
the block has two possible layouts (grid and carousel), and will dynamically display a default card or an image card based on the presence of an image in the data.
#}

{% import '_components/elements/card.twig' as Card %}
{% extends '_layouts/blockWrapper.twig' %}

{% block blockWrapper %}
   {% if block.toggle is empty %}
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-4">
         {% for card in block.cardFields %}
            {{ Card.default(card) }}
         {% endfor %}
      </div>
   {% elseif block.toggle is not empty %}
         <div x-data="{
          init() {
              new window.Splide(this.$refs.splide, {
                  perPage: 3,
                  arrows:true,
                  gap: 16,
                  interval: 4000
              }).mount()
            }
         }">
            <section x-ref="splide" class="splide px-20">
               <div class="splide__track">
                  <ul class="splide__list">
                     {% for card in block.cardFields %}
                        <li class="splide__slide flex flex-col items-center justify-center pb-8">
                           {{ Card.default(card) }}
                        </li>
                     {% endfor %}
                  </ul>
               </div>
            </section>
         </div>
   {% endif %}
{% endblock %}