{# A block of one or more basic card components. #}
{% import '_components/elements/card.twig' as Card %}
{% extends '_layouts/blockWrapper.twig' %}

{% block blockWrapper %}
   {% if block.toggle is null %}
      <div class="grid grid-cols-4 gap-6 w-full">
         {% for card in block.cardFields %}
            {{ Card.default(card.title, card.richText, card.button) }}
         {% endfor %}
      </div>
   {% elseif block.toggle is not null %}
         <section class="splide">
            <div class="splide__track">
               <ul class="splide__list">
                  {% for card in block.cardFields %}
                  <li class="splide__slide flex flex-col items-center justify-center pb-8">
                        {{ Card.default(card.title, card.richText, card.button) }}
                  </li>
                  {% endfor %}
               </ul>
            </div>
         </section>
   {% endif %}
{% endblock %}