{% import '_templates/components/alert.twig' as Alert %}
{% extends '_layouts/blockWrapper.twig' %}
{% block blockWrapper %}
      <div class="max-w-screen-lg mx-auto block-container">
            {{ Alert.Default(block) }}
      </div>
{% endblock %}