{% import '_templates/elements/button.twig' as Button %}

<div class="w-full px-8 bg-brandBlue py-12 lg:py-20">
    <div class="block-container">
        <div class="text-white flex flex-col gap-4 md:gap-8">
            <p class="text-brandLightBlue">{{ block.date }}</p>
            <h1 class="">{{ block.title }}</h1>
            <div class="lg:max-w-[750px]">
                {{ block.richText }}
            </div>
        </div>
    </div>
</div>