{% import '_templates/components/quote.twig' as Quote %}

<div class="flex justify-center"
     x-data="{swiper: null, mouseX: 0, mouseY: 0}"
     x-init="
        setTimeout(() => {
            swiper = new Swiper($el.querySelector('.swiper-container'), {
                a11y: { enabled: true },
                autoplay: { delay: 6000 },
                spaceBetween: 50,
                effect: 'fade',
                fadeEffect: { crossFade: true },
                pauseOnMouseEnter: true,
                pagination: { el: '.swiper-pagination' },
                loop: true,
                slidesPerView: 1
            });
        }, 0);
    ">

    <div class="w-full container max-sm:px-8 test-bullets swiper-container relative">
        {# slide control arrows #}
        <button class="max-lg:hidden absolute rotate-180 group left-3 2xl:left-12 z-50 top-1/2 transform -translate-y-1/2" @click="swiper.slidePrev()">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-20 aspect-square stroke-black" viewBox="0 0 24 24" stroke-linecap="square">
                <path class="fill-none" d="m12 16 4-4-4-4"></path>
            </svg>
        </button>
        <button class="max-lg:hidden absolute group right-3 2xl:right-12 z-50 top-1/2 transform -translate-y-1/2" @click="swiper.slideNext()">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-20 aspect-square stroke-black" viewBox="0 0 24 24" stroke-linecap="square">
                <path class="fill-none" d="m12 16 4-4-4-4"></path>
            </svg>
        </button>

        {# slides #}
        <div class="w-full swiper-wrapper relative intersect:animate-fade-down">
            {% for quote in block.testimonialMatrix.eagerly() %}
                <div class="swiper-slide relative flex flex-col-reverse h-full border-2 border-black p-12">
                    {{ Quote.default(quote) }}
                </div>
            {% endfor %}
        </div>

        {# floating pagination #}
        <div class="swiper-pagination-wrapper flex justify-center top-[-40px] relative">
            <div class="swiper-pagination contents justify-center w-12 mx-auto"></div>
        </div>
    </div>
</div>

<style>
    .test-bullets .swiper-pagination-bullet {
        background: black;
        height: 15px;
        width: 15px;
        opacity: 1;
    }
    .test-bullets .swiper-pagination-bullet-active {
        background: lightgray;
        height: 15px;
        width: 15px;
    }
</style>