{% extends '../../index.twig' %}

{% block body %}
<div class="space-y-6 p-6 prose">
   <p>To load custom fonts, list them in your CSS, and point the file reference to the build directory.</p>
   <h2 class="font-noto">THIS IS A SERIF FONT</h2>
   <h2 class="font-roboto">THIS IS A SANS-SERIF FONT</h2>
</div>
{% endblock %}